* {
    padding: 0;
    margin: 0;
}

.nav {
    width: 10%;
    height: 100%;
    background-color: lightblue;
    float: left;
    position: fixed
}

.nav ol {
    list-style: none;
}

.nav ol li a {
    color: black;
    font-size: 20px;
    padding: 15px 0;
    text-decoration: none;
    display: block;
    position: relative;
    text-align:center;
}

.nav ol li a:hover {
    color: lightblue;
    background-color:white;
}

.nav ol li a {
    font-size: 1.5vw;
}