.left {
    float: left;
    width: 30%;
    background-color: white;
    color: black;
    padding: 0%;
    margin-top: 0px;
 
}

.left2{
    float: left;
    width: 47%;
    background-color: cadetblue;
    color: white;
    padding: 1.171875vw;
    margin-top: 0.78125vw;
    border-radius: 0.78125vw;
}

.main{
    width: 20%;
    float: right;
    padding: 1%;
    background-color: black;
    opacity: 70%;
    border-radius: 0.78125vw;
}

.right{
    float: right;
    width: 67%;
    background-color: black;
    color: white;
    padding: 1%;
    margin-top: 0.78125vw;
    border-radius: 0.78125vw;
}
.right2{
    float: right;
    width: 48%;
    background-color: darkgray;
    color: white;
    padding: 1.171875vw;
    margin-top: 0.78125vw;
    border-radius: 0.78125vw;
}

.navholder {
    text-align: center;
    margin: 0.78125vw 1.5625vw;
    border-radius: 0.78125vw;
}

.navlink {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1.5625vw;
    text-decoration: none;
    border-radius: 0.78125vw;
}

.navlink a {
    float: left;
    color: black;
    text-align: center;
    align-self: center;
    padding:  0.78125vw;
    float: right;
    border-radius:  0.78125vw;
}

.navlink:hover {
    text-decoration: none;
    color: white;
    background-color: cadetblue;
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    border-radius:  0.78125vw;
}

h2 {
    text-align: center;
}

.firstbox {
    background-color: blue;
    background-image: url(https://raw.githubusercontent.com/MasterMeep14/MasterMeep14.github.io/main/homepage-facelift/images/thing-1.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 60vw;
    opacity: 70%;
    float: left;
    width: 98%;
    color: black;
    padding: 1%;
    margin-top: 0%;
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius:  0.78125vw;
}
.firstbox2 {
    background-color: black;
    opacity: 70%;
    float: right;
    width: 75%;
    color: white;
    padding: 1%;
    margin-top: 1%;
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius:  0.78125vw;
}

.secondbox{
    background-color: cadetblue;
    opacity: 100%;
    float: left;
    width: 20%;
    color: white;
    padding: 1%;
    margin-top: 0%;
    grid-column-start: 2;
    grid-row-start: 1;
    border-radius:  0.78125vw;
}

.secondbox2{
    background-color: cadetblue;
    opacity: 100%;
    float: left;
    width: 20%;
    color: white;
    padding: 1%;
    margin-top: 1%;
    grid-column-start: 2;
    grid-row-start: 1;
    border-radius:  0.78125vw;
}

.thirdbox{
    background-color: black;
    opacity: 70%;
    float: right;
    width: 75%;
    color: white;
    padding: 1%;
    margin-top: 0%;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 1%;
    border-radius:  0.78125vw;
}

.fourthbox{
    background-color:crimson;
    opacity: 70%;
    float: right;
    width: 24%;
    color: white;
    padding: 1%;
    margin-top: 0%;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 1%;
    border-radius:  0.78125vw;
}


.website-grid{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.phone-number{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color:white;
    float: left;
    margin-top: 4%;
}
h3{
    font-size: 1.7vm;
}

body{
    text-align: center;
}

.logo-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quote-picture{
    width: 30vw;
    height: auto;
}

.brand-picture{
    width: 15vw;
    height: auto;
}

.footer {
background-color: blue;
text-decoration: none;
font-size: 1.5vw;
color: white;
padding: 0px;
clear: both;
margin-top: 0px;
width: 100%;
margin: 0;
} 

.phone-number2{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-top: 0%;
    font-size: 1.25vw;
}

@media only screen and (max-width:620px) {
    .left, .main, .right {
    width:100%;
    }
}

h1 {
    font-size: 2.5vw;
}
h2 {
    font-size: 2vw;
}
h3 {
    font-size: 1.5vw;
}
p {
    font-size: 1.25vw;
}
a, li{
    font-size: 1.25vw;
}
    