body {
    background: lightblue;
}

main {
    background: white;
    margin: 20px 0;
    padding: 10px;
}

.center {
    margin: 0 auto;
    width: 200px;
    background: black;
    padding: 20px;
    color: white;
}