body {
    background-color: #A0AECD;
    color: black;
}
.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto ;
    padding: 10px;
  }
.grid-container2{
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;

}

  .grid-item {
    text-align: center;
  }

@keyframes color-square{
    0%{
        background: rgb(172, 223, 255);
        transform: rotate(0deg)
    }
    25% {
        background: rgb(133, 208, 255);
        transform: rotate(90deg);
    }
    50% {
        background: rgb(102, 196, 255);
        transform: rotate(180deg);
    }
    75%{
        background: rgb(81, 188, 255);
        transform: rotate(270deg);
    }
    100%{
        background: rgb(30, 169, 255);
        transform: rotate(360deg);
    }
}



@keyframes square-to-circle{
    0% {
        border-radius: 0;
        background: rgb(255, 199, 176);
        transform: rotate(0dg)

    } 
    25% {
        border-radius: 50% 0 0 0;
        background: rgb(255, 162, 131);
        transform: rotate(45deg);
    } 
    50% {
        border-radius: 50% 50% 0 0;
        background: rgb(255, 126, 112);
        transform: rotate(90deg);
    }
    75% {
        border-radius: 50% 50% 50% 0;
        background: rgb(255, 116, 70);
        transform: rotate(135deg);
    }
    100% {
        border-radius:50%;
        background: lightsalmon;
        transform: rotate(180deg);
    }


}

.nav{
    background: #A0AECD;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}   
.nav a{
    text-align: center;
    background: white;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}


.box {
    width: 70px;
    height: 70px;
    margin: 10px auto 0 auto;
    animation-name: square-to-circle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.box2 {
    width: 70px;
    height: 70px;
    margin: 10px auto 0 auto;
    animation-name: color-square;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-timing-function:cubic-bezier(1.5, 1.5, 1.5, 1.5);
    animation-direction: alternate;

}

.header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.headertwo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:50;
    color: black;
}