.first-float{
    float: right;
    width: 7b0%;
    background-color: black;
    color: white;
    padding: 1%;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.title-float{
    float: left;
    width: 28%;
}


.navholder {
    text-align: center;
    margin: 20px 20px;
    border-radius: 10px;
}

.navlink {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    border-radius: 10px;
}

.navlink a {
    float: left;
    color: black;
    text-align: center;
    align-self: center;
    padding: 10px;
    float: right;
    border-radius: 10px;
}

.navlink:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    cursor: pointer;
}

.first-content{
    float: left;
    width: 80%;
    background-color: darkcyan;
}
.second-content{
    float: left;
    width: 80%;
    background-color: darkred;
}
.third-content{
    float: left;
    width: 80%;
    background-color: darkgray;
}
.right-content{
    float: right;
    width: 20%;
    background-color: lightpink;
}